force-app/main/default/flows/Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email_if_limit_exceeds</name>
        <label>send email if limit exceeds</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>sendlimitexceedsemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>veena_veerabathini@persistent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectbody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_usage_percentage_greater_than_threshold</name>
        <label>check usage percentage greater than threshold</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UsagePercentage__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_org_limit_records.AlertThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_if_limit_exceeds</targetReference>
            </connector>
            <label>If greater</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email when usage limit exceeds threshold value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_org_limit_records</name>
        <label>get org limit records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_usage_percentage_greater_than_threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrgLimitType__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stop_Alerts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgLimitType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_org_limit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UsagePercentage__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Snapshot__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>sendlimitexceedsemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The limit for {!get_org_limit_records.OrgLimitName__c} has exceeded the threshold configured.&lt;/p&gt;&lt;p&gt;Current Value: {!$Record.Usage__c}&lt;/p&gt;&lt;p&gt;Limit: {!$Record.MaxLimit__c}&lt;/p&gt;&lt;p&gt;Percentage of Limit: {!$Record.UsagePercentage__c}&lt;/p&gt;&lt;p&gt;Alert Threshold: {!get_org_limit_records.AlertThreshold__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subjectbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Salesforce Limit Exceed for {!get_org_limit_records.OrgLimitName__c}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectformail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Salesforce Limit Exceed for {!get_org_limit_records.Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
